@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Lĩnh Nam, Hoàng Mai<br />
        <abbr title="Phone">P:</abbr>
         0394127739
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:nxbac.dhti15a15hn@sv.uneti.edu.vn">nxbac.dhti15a15hn@sv.uneti.edu.vn</a><br />
        <strong>Github:</strong> <a href="https://github.com/nguyenbac1110">https://github.com/nguyenbac1110</a>
    </address>
</main>