@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">NGUYỄN XUÂN BẮC</h1>
        <p class="lead">Studying at the University of Economics - Technology for Industries from 2021 to 2025.</p>
        
    </section>

</main>